@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.cover
{
    width: 100vw;
    z-index: 0;
}

.caption1
{
    position: absolute;
    font-family: "Josefin Sans";
    color: white;
    font-size: 8vw;
    margin-left: 32vw;
    z-index: 100;
    margin-top: -45vw;
}

.caption2
{
    position: absolute;
    font-family: "Josefin Sans";
    color: white;
    font-size: 3vw;
    z-index: 100;
    margin-top: -32vw;
    margin-left: 40vw;
}

.caption3
{
    position: absolute;
    font-family: "Josefin Sans";
    color: white;
    font-size: 2vw;
    z-index: 100;
    margin-top: -27vw;
    margin-left: 19vw;
    line-height: 3vw;
    width:70vw;
}



.cap_link
{
    color: darkslategrey;
}

.cap_link:hover
{
    text-decoration: none;
    color: midnightblue;
}

.last_para
{
    background: transparent;
    position: absolute;
    z-index: 100;
    margin-top: -15vw;
    margin-left: 43.5vw;
    height: 3.5vw;
}

.return_link
{
    border: 2px solid white;
   padding: 1vw 1vw 1vw 1vw;
    text-align: center;
   
    color: white;
    
    font-family: "Josefin Sans";
    font-size: 1.37vw;
    border-radius: 0.3vw;
}

.return_link:hover
{
     border: 2px solid white;
    color: black;
    text-decoration: none;
    background: white;
}

@media screen and (max-width: 990px) 
        {

            body .caption1
            {
                margin-top: -38vw;
            }

            body .caption2
            {
                margin-top: -25vw;
            }

            body .caption3
            {
                margin-top: -20vw;
            }




        }










